html {
  font-size: 12px;
}

body {
  display: block;
  margin: 1rem;
}

.search-container {
  position: relative;
  width: 250px; /* Match the width of the input field */
}

/* SUGGESTIONS */
#suggestions {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0; /* Align to the left of the input field */
  border: 2px solid orange;
  z-index: 100; /* Ensures the list is on top of other content */
  width: 100%; /* Match the width of the container */
  background-color: white;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#suggestions li {
  padding: 10px;
  background: white;
  cursor: pointer;
}

#suggestions li:hover {
  background-color: #f0f0f0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 1rem;
}

.card {
  background-color: white;
  width: 30rem;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  box-sizing: border-box;
  border: 2px solid #d00000;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /*transition: transform 0.2s, opacity 0.2s;*/
  transition: opacity 0.3s ease;
  break-inside: avoid;
}

.card h1 {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 2rem;
  margin: 0;
  margin-left: 0.5rem;
  text-align: center;
}

.card h2 {
  font-size: 1.2rem;
  color: rgb(168, 165, 165);
  margin: 0.2rem 0;
  margin-left: 1rem;
  text-align: left;
}

.card .details {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.card .detail {
  text-align: center;
}

.card .detail strong {
  display: block;
  font-size: 1rem;
  color: #d00000;
}

.card .detail span {
  display: block;
  font-size: 1rem;
  color: black;
}

.card .description {
  /* font-size: 12px; */
  background-color: white;
  color: black;
  margin: 10px 0;
}

.card .description p {
  font-size: 1rem;
  margin: 10px 0;
  text-align: justify;
}

.card:hover {
  transform: scale(1.05);
}

.card.removing {
  opacity: 0;
}

.hidden {
  display: none;
}

.action {
  color: rgb(10, 103, 10);
}

.bonusaction {
  color: rgb(223, 117, 11);
}

.reaction {
  color: rgb(120, 31, 179);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-c {
  font-family: "Roboto", sans-serif;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 50%; /* Makes it a circle */
  flex-shrink: 0; /* Prevents the circle from shrinking */
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
  }

  html {
    font-size: 8px;
  }

  body {
    margin: 0;
  }

  .search-container {
    height: 0mm;
    visibility: hidden;
  }
}
